/* src/index.css */
* { box-sizing: border-box; }
body, html, #root { margin: 0; padding: 0; height: 100%; }
body { font-family: "Krona One", system-ui, -apple-system, "Segoe UI", Roboto, sans-serif; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }
.App { min-height: 100vh; }
